<%- include('../includes/admin/adminhead')%>
  <!-- body wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <%- include('../includes/admin/adminSidebar')%>
      <!-- Main wraapper -->
      <div class="body-wrapper">
        <%- include('../includes/admin/adminHeader')%>

          <div class="container-fluid">
            <!--  Row 1 -->
            <div class="row">
              <div class="top-part d-flex align-items-start justify-content-between p-0 mb-3">

                <div class="col-md-6 section-left me-3">
                  <div class="orders-overview card shadow ">
                    <div class="card-header ps-4">
                      <h5 class="m-0">Orders Overview</h5>
                    </div>
                    <div class="card-body px-3 mb-4">
                      <div class="vstack gap-4">
                        <div class="total-users shadow-sm p-3 d-flex flex-column bg-primary-subtle">
                          <h6 class="fw-bold">Total Orders</h6>
                          <strong class="ms-1 mb-0">12233</strong>
                        </div>
                        <div class="active-users shadow-sm p-3 d-flex flex-column bg-success-subtle">
                          <h6 class="fw-bold">Active Orders</h6>
                          <strong class="ms-1 mb-0">12233</strong>
                        </div>
                        <div class="blocked-users shadow-sm p-3 d-flex flex-column bg-danger-subtle">
                          <h6 class="fw-bold">Cancelled Orders</h6>
                          <strong class="ms-1 mb-0">12233</strong>
                        </div>
                        <div class="blocked-users shadow-sm p-3 d-flex flex-column bg-info-subtle">
                          <h6 class="fw-bold">Delivered Orders</h6>
                          <strong class="ms-1 mb-0">12233</strong>
                        </div>
                        <div class="blocked-users shadow-sm p-3 d-flex flex-column bg-warning-subtle">
                          <h6 class="fw-bold">Returned Orders</h6>
                          <strong class="ms-1 mb-0">12233</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 section-right d-flex flex-column me-3">
                  <div class="users-overview card shadow mb-2">
                    <div class="card-header ps-4">
                      <h5 class="m-0">Users Overview</h5>
                    </div>
                    <div class="card-body px-3">
                      <div class="vstack gap-2">
                        <div class="total-users shadow-sm p-3 d-flex flex-column bg-primary-subtle">
                          <h6 class="fw-bold">Total Users</h6>
                          <strong class="ms-1 mb-0">12233</strong>
                        </div>
                        <div class="active-users shadow-sm p-3 d-flex flex-column bg-success-subtle">
                          <h6 class="fw-bold">Active Users</h6>
                          <strong class="ms-1 mb-0">12233</strong>
                        </div>
                        <div class="blocked-users shadow-sm p-3 d-flex flex-column bg-danger-subtle">
                          <h6 class="fw-bold">Blocked Users</h6>
                          <strong class="ms-1 mb-0">12233</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex flex-column">
                    <div class="category-products-overview card mb-0 shadow">
                      <div class="card-header ps-4">
                        <h5 class="m-0">Products & Category Overview</h5>
                      </div>
                      <div class="card-body px-3 pt-3">
                        <div class="products-overview border shadow-sm p-2 rounded mb-3">
                          <h6 class="fs-4">Products Overview</h6>
                          <div class="mt-2">
                            <strong class="fs-4">Total Products : <span>12</span></strong>
                          </div>
                        </div>
                        <div class="category-overview border shadow-sm p-2 rounded">
                          <h6 class="fs-4">Category Overview</h6>
                          <div class="mt-2">
                            <strong class="fs-4">Total Category : <span>6</span></strong>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <!-- Sales -->
            <!--Row 2-->
            <div class="row">
              <div class="card shadow bg-light sales-overview-card">
                <div class="card-title d-flex align-items-center justify-content-between py-2 mt-2 px-3">
                  <h4>Sales Overview</h4>
                  <div>
                    <select name="sales-filter" id="salesFilter" class="form-select form-select-sm">
                      <option value="" selected>Choose</option>
                      <option value="daily">Daily</option>
                      <option value="weekly">Weekly</option>
                      <option value="monthly">Monthly</option>
                      <option value="yearly">Yearly</option>
                    </select>
                  </div>
                </div>
                <div class="card-body pt-0 px-3">
                  <div class="data-range-preview">
                    <!-- <div class="date-range-div d-flex align-items-center justify-content-between px-2">
                      <div class="from-date-div col-md-6 me-2">
                        <label for="">From Date</label>
                        <input type="date" class="form-control" id="fromDate">
                      </div>
                      <div class="to-date-div col-md-6">
                        <label for="">To Date</label>
                        <input type="date" class="form-control" id="toDate">
                      </div>
                    </div>
                    <div class="mt-3 d-flex justify-content-end"><button class="btn btn-primary btn-sm"
                        id="sales-filter-btn">Apply Filter</button></div> -->
                  </div>
                  <div class="mt-5">
                    <canvas id="myChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    defaultSales()
    // const fromDateInput = document.getElementById('fromDate');
    // const toDate = document.getElementById('toDate');
    // const salesFilterBtn = document.getElementById('sales-filter-btn');
    const salesSelect = document.getElementById('salesFilter')
    const dataRangePreview = document.querySelector('.data-range-preview');

    salesSelect.addEventListener('change', () => {
      dataRangePreview.innerHTML = ''
      const selectValue = salesSelect.value

      if (selectValue === 'daily') {

        dataRangePreview.innerHTML = `<div class="date-range-div d-flex align-items-center justify-content-between px-2">
              <div class="from-date-div col-md-6 me-2">
                <label for="dailyFromDate">From Date</label>
                <input type="date" class="form-control" id="dailyFromDate">
              </div>
              <div class="to-date-div col-md-6">
                <label for="dailyToDate">To Date</label>
                <input type="date" class="form-control" id="dailyToDate">
              </div>
            </div>
            <div class="mt-3 d-flex justify-content-end"><button class="btn btn-primary btn-sm" id="ApplyFilterBtn">Apply Filter</button></div>
          </div>`

        const fromDate = document.getElementById('dailyFromDate');
        const toDate = document.getElementById('dailyToDate');
        const applyFilter = document.getElementById('ApplyFilterBtn');

        applyFilter.addEventListener('click', () => {
          const toDateValue = new Date(toDate.value.trim());
          const fromDateValue = new Date(fromDate.value.trim());
          if (toDateValue < fromDateValue) {
            return Swal.fire({
              text: "Start Date must be before End date",
              icon: "error"
            });
          } else {
            const daysCheck = new Date(fromDateValue.getTime() + (20 * 24 * 60 * 60 * 1000));
            console.log(daysCheck);
            if (toDateValue > daysCheck) {
              return Swal.fire({
                text: "Maximum 20 days is allowed",
                icon: "error"
              });
            } else {
              const url = '/generatesaleschart'
              const method = 'POST'
              const body = {
                fromDate: fromDateValue,
                toDate: toDateValue,
              }
              const data = fetchFunction(url, method, body);
              console.log(data);
            }
          }
        })

      } else if (selectValue === 'weekly') {

      } else if (selectValue === 'monthly') {

      } else if (selectValue === 'yearly') {

      }
    })

    async function fetchFunction(url, method, body) {
      const response = await fetch(url, {
        method: method,
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(body)
      });
      const data = await response.json()

      return data;
    }

    const months = [
      "JAN",
      "FEB",
      "MAR",
      "APR",
      "MAY",
      "JUN",
      "JUL",
      "AUG",
      "SEP",
      "OCT",
      "NOV",
      "DEC",
    ]

    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
          label: '# of Votes',
          data: [12, 19, 3, 5, 2, 3],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });

   async function defaultSales (){
      const url = "/admin/generatesaleschart"
      const method = 'POST'
      const body = {
        type : 'default'
      }

     const data = await fetchFunction(url,method,body);
     console.log(data);
     if(data.status === true){
      
     }
    }

  </script>
  <%- include('../includes/admin/adminEnd')%>