@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

a {
  text-decoration: none;
}

body {
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(75,14,154,1) 35%, rgba(0,212,255,1) 100%); */
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;

}

.form-container {
  border-radius: 20px;
  margin-top: 50px;
  /* width: 24%  */
  background-color: white;
  padding: 50px;
  box-shadow: 0px 4px 29px 11px rgba(109, 59, 121, 0.39);
}

.row {
  width: 50%;
}

.sign-in-options {
  font-size: 15px;
  border: 1px solid #747775;
  background: none;
  border-radius: 10px;
  width: 191px;
  height: 40px;
}

.sign-in-options:hover {
  background-color: whitesmoke;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

@media screen and (max-width:295px) {
  .sign-in-options {
    width: 200px;
  }
}

.sign-up {
  border-radius: 20px;
  /* margin-left: 150px; */
  box-shadow: 0px 4px 29px 11px rgba(109, 59, 121, 0.39);
  padding: 10px;
}

.sign-up p,
a {
  font-size: 15px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.btn-primary {
  width: 100%;
  border: hidden;
  border-radius: 50px;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(75, 14, 154, 1) 35%, rgba(0, 212, 255, 1) 100%);

}

.btn-primary:hover {
  border: 1px solid rgb(11, 24, 206);

}

.form-control {
  color: rgba(0, 0, 0, .87);
  border-bottom-color: rgba(0, 0, 0, .42);
  box-shadow: none !important;
  border: none;
  border-bottom: 1px solid;
  border-radius: 4px 4px 0 0;
}

h4 {
  font-size: 2rem !important;
  font-weight: 400;
}

.form-label {
  font-weight: 200 !important;
}

/* @media only screen and (max-width: 600px) {
    form ,.sign-up{
        width: 100% !important;
    }
  } */

.newPassword {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gsi-material-button {
  /* -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none; */
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
}


/* OTP VERIFICATION CSS */

.otpverification-wrapper {
  position: absolute;
  border-radius: 10px;
  height: 20rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
   box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}
#resend-otp{
  cursor: pointer;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}