
<div class="modal fade font-poppins" id="addMoneyModal" tabindex="-1" aria-labelledby="addMoneyModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary-subtle">
                <h1 class="modal-title fs-5 text-primary" id="exampleModalLabel">Add Wallet Money</h1>
                <button type="button" class="btn-close moneyCloseBtn" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body parent">
                <label for="money-input" class="form-label text-dark">Enter Amount</label>
                <input type="text" class="form-control" id="money-input" placeholder="Enter your amount">
                <div class="error mt-1 ms-2" style="color: red; font-size: small"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" id="addMoneyBtn">Add Money</button>
            </div>
        </div>
    </div>
</div>

