<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fullScreen" id="fullScreenModal" hidden>
    Full Screen
</button>

<div class="modal fade font-poppins" id="fullScreen" tabindex="-1" aria-labelledby="cancelOrderModal"
    aria-hidden="true">
    <div class="modal-dialog modal-fullscreen ">
        <div class="modal-content">
            <button type="button" class="btn-close" id="close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body d-flex justify-content-center align-items-center"
                style="background-color: transparent;">
                <div class="spinner-grow" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <h4 class="ms-2 text-primary loaderText">Making Request. . . </h4>
            </div>
        </div>
    </div>