<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#verificationModal" id="modalBtn" hidden>
    verification Modal Trigger
</button>

<div class="modal fade font-poppins" id="verificationModal" tabindex="-1" aria-labelledby="verificationModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Verification</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body parent">
                <label for="otpverification" class="form-label mb-0">Enter OTP</label>
                <small class="text-success modalMessage">An otp has send to <%=userdetail.email%></small>
                <input type="text" class="form-control mt-2" id="otp" minlength="6" />
                <div class="error mt-1 ms-2" style="color: red; font-size: small"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary submit-otp-btn">Submit OTP</button>
            </div>
        </div>
    </div>
</div>
