<script>
    const addressInput = document.querySelectorAll('.deliveryAddress');
    const deliveryAddress = document.querySelector('#deliveryAddress');
    const changeAddressBtn = document.getElementById('changeAddressBtn');
    const placeOrderBtn = document.getElementById('placeOrder');
    const selectBtns = document.querySelectorAll('.selectBtns');
    const paymentOption = document.querySelectorAll('.paymentOption');
    const couponInput = document.getElementById('coupon');
    const couponModalClose = document.querySelector('.couponModalClose');
    const applyCoupon = document.getElementById('applyCoupon');
    const removeCoupon = document.getElementById('removeCoupon');
    const couponPreview = document.querySelector('.coupon-discount-preview');
    const grandTotalPreview = document.querySelector('.grandTotal-preview');
    const walletDiscountPreview = document.querySelector('.wallet-discount-preview');
    const deliveryCharge = document.querySelector('.deliveryCharge-preview');
    const walletCheck = document.getElementById('walletCheck');
    const walletCashInput = document.getElementById('walletCashInput');
    const applyWalletCash = document.getElementById('applyWalletCash');

    changeAddressBtn.addEventListener('click', () => {
        addressInput.forEach(async (input) => {
            if (input.checked) {
                const addressId = input.value;
                const url = `/user/userprofile/setprimary/${addressId}`;
                const method = 'PATCH'
                const body = {}
                const data = await fetchFunction(url, method, body);
                if (data.status === 'success') {
                    location.reload()
                }
            }
        })
    })

    paymentOption.forEach((option) => {
        option.addEventListener('click', () => {
            if (option.value !== "COD") {
                return placeOrderBtn.innerText = 'Pay Now'
            } else {
                placeOrderBtn.innerText = 'Place Order'
            }
        })
    })

    placeOrderBtn.addEventListener('click', () => {
        const couponDiscount = couponPreview.getAttribute('data-couponDiscount');
        const walletAmount = walletDiscountPreview.getAttribute('data-walletAmount');
        const deliveryChargeVal = deliveryCharge.getAttribute('data-deliveryCharge');
        const couponCode = couponInput.value.trim()
        paymentOption.forEach((option) => {
            if (option.checked) {
                if (option.value !== '') {
                    const paymentOptionVal = option.value;
                    const deliveryAddressVal = deliveryAddress.value
                    //console.log(paymentOptionVal," ",deliveryAddressVal)
                    placeOrder(deliveryAddressVal, paymentOptionVal, walletAmount, couponDiscount, couponCode, deliveryChargeVal);
                }
            }
        })
    })

    async function placeOrder(addressId, paymentOption, walletAmount, couponDiscount, couponCode, deliveryCharge) {
        const url = '/placeorder';
        const method = 'POST';
        const body = {
            addressId: addressId,
            paymentOption: paymentOption,
            walletAmount: walletAmount ? Number(walletAmount) : 0,
            couponDiscount: couponDiscount ? Number(couponDiscount) : 0,
            couponCode: couponCode ? couponCode : undefined,
            deliveryCharge: Number(deliveryCharge)
        }
        const data = await fetchFunction(url, method, body)
        if (data.status === false) {
            if (data.payment !== '') {
                console.log(data.payment);
                razorpayPayment(data.payment)
            } else if (data.product) {
                const errorDiv = document.querySelector('.error-modal')
                errorDiv.querySelector('.errorProducts').innerText = data.product
                errorDiv.querySelector('.errorMessage').innerText = data.message
                document.getElementById('orderErrorModal').click()
            } else {
                Swal.fire({
                    text: data.message,
                    icon: "error"
                });
            }
        } else {
            document.getElementById('orderSuccessModal').click()
            setTimeout(() => {
                location.assign('/orderstatus');
            }, 3000);
        }
    }

    function setError(btn, message) {
        const errorParent = btn.closest('.parent');
        const errorDiv = errorParent.querySelector('.error')
        errorDiv.innerText = message
    }

    function razorpayPayment(paymentData) {
        const RZY_KEY = "<%=process.env.RAZORPAY_KEY_ID%>"
        let options = {
            "key": RZY_KEY, // Enter the Key ID generated from the Dashboard
            "amount": paymentData.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Hola Haute",
            "description": "PlaceOrder Transaction",
            "image": "/images/logo/logo_1.png",
            "order_id": paymentData.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
                verifyPayment(response, paymentData)
            },
            "notes": {
                "address": "Hola Haute Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            },
            "modal":{
                "ondismiss":function(){
                    location.assign('/myorders');
                }
            }
        };
        let rzp1 = new Razorpay(options);
        rzp1.open()
        rzp1.on('payment.failed', async function (response) {
            location.assign('/myorders');
        })
    }

    async function verifyPayment(response, order) {
        const url = '/verifypayment'
        const method = 'POST'
        const body = {
            response,
            paymentData : order
        }
        const data = await fetchFunction(url, method, body);
        if (data.paid === true) {
            document.getElementById('orderSuccessModal').click()
            setTimeout(() => {
                location.assign('/orderstatus');
            }, 3000);
        } else {
            location.assign('/myorders');
        }
    }

    async function fetchFunction(url, method, body) {
        const response = await fetch(url, {
            method: method,
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(body)
        });
        const data = await response.json()

        return data;
    }

    selectBtns.forEach((btn) => {
        btn.addEventListener('click', () => {
            if (applyCoupon.disabled === true) {
                Swal.fire({
                    text: "a Coupon already applied try after removing",
                    icon: 'error'
                }).then(() => {
                    couponModalClose.click();
                })
            } else {
                const couponCode = btn.getAttribute('data-couponCode');
                couponInput.value = couponCode;
            }
        });
    })

    applyCoupon.addEventListener('click', async () => {
        const couponCode = couponInput.value.trim()
        let hasError = false;
        if (couponCode === '') {
            hasError = true;
            setError(couponInput, "This field is required")
        } else {
            let couponRegex = /^[A-Z0-9]{3,}[A-Z0-9_-]*$/
            if (!couponRegex.test(couponCode) || !isNaN(couponCode)) {
                hasError = true;
                setError(couponInput, "enter a valid coupon")
            } else {
                setError(couponInput, '')
            }
        }
        if (hasError) {
            return
        } else {
            const walletDiscount = walletDiscountPreview.getAttribute('data-walletAmount');
            const deliveryChargeVal = deliveryCharge.getAttribute('data-deliveryCharge')
            console.log(walletDiscount)
            const url = '/checkout/applycoupon'
            const method = 'POST'
            const body = {
                couponCode: couponCode,
                walletDiscount: walletDiscount ? Number(walletDiscount) : 0,
                deliveryCharge: Number(deliveryChargeVal)
            }
            const data = await fetchFunction(url, method, body);
            console.log(data)
            if (data.status === false) {
                Swal.fire({
                    text: data.message,
                    icon: 'error'
                });
            } else {
                applyCoupon.disabled = true
                couponInput.disabled = true
                couponPreview.setAttribute('data-couponDiscount', data.couponDiscount);
                couponPreview.innerHTML = `<span>- ₹</span>${data.couponDiscount}`
                walletDiscountPreview.innerHTML = `<span>- ₹ </span>${data.walletAmount}`
                grandTotalPreview.innerHTML = `<span>₹ </span>${data.grandTotal}`
            }
        }
    })

    removeCoupon.addEventListener('click', async () => {
        const walletDiscount = walletDiscountPreview.getAttribute('data-walletAmount');
        const couponDiscount = couponPreview.getAttribute('data-couponDiscount');
        const deliveryChargeVal = deliveryCharge.getAttribute('data-deliveryCharge');
        const url = '/checkout/removecoupon'
        const method = 'POST'
        const body = {
            walletDiscount: walletDiscount ? Number(walletDiscount) : 0,
            couponDiscount: couponDiscount ? Number(couponDiscount) : 0,
            deliveryCharge: Number(deliveryChargeVal)
        }
        const data = await fetchFunction(url, method, body);
        console.log(data);
        if (data.status === true) {
            couponPreview.innerHTML = `<span>- ₹ </span>${data.couponDiscount}`
            grandTotalPreview.innerHTML = `<span>₹ </span>${data.grandTotal}`
            walletDiscountPreview.innerHTML = `<span>₹ </span>${data.walletAmount}`
            couponPreview.setAttribute('data-couponDiscount', data.couponDiscount);
            couponInput.value = ''
            applyCoupon.disabled = false
            couponInput.disabled = false
        }
    })

    applyWalletCash.addEventListener('click', async () => {
        let hasError = false;
        const cashInputValue = walletCashInput.value
        if (walletCheck.checked === false) {
            let hasError = true
            return setError(walletCashInput, "You should check the wallet first");
        } else if (cashInputValue === '') {
            let hasError = true
            return setError(walletCashInput, "This field is required");
        } else if (isNaN(cashInputValue)) {
            let hasError = true
            return setError(walletCashInput, "Enter a valid amout");
        } else {
            setError(walletCashInput, '')
        }

        if (!hasError) {
            const couponDiscount = couponPreview.getAttribute('data-couponDiscount');
            const deliveryChargeVal = deliveryCharge.getAttribute('data-deliveryCharge');
            const url = '/checkout/applywallet'
            const method = 'POST'
            const body = {
                walletAmount: Number(cashInputValue),
                couponDiscount: couponDiscount ? Number(couponDiscount) : 0,
                deliveryCharge: Number(deliveryChargeVal)
            }
            const data = await fetchFunction(url, method, body);
            if (data.status === false) {
                setError(walletCashInput, data.message);
            } else {
                console.log(data)
                couponPreview.innerHTML = `<span>- ₹ </span>${data.couponDiscount}`
                grandTotalPreview.innerHTML = `<span>₹ </span>${data.grandTotal}`
                walletDiscountPreview.innerHTML = `<span>- ₹ </span>${data.walletAmount}`
                walletDiscountPreview.setAttribute('data-walletAmount', data.walletAmount);
            }
        }
    })

    async function getFetchFunction(url, method) {
        const response = await fetch(url, {
            method: method,
            headers: {
                "Content-Type": "application/json"
            },
        });
        const data = await response.json()
        return data;
    }

    walletCheck.addEventListener('change', async () => {
        if (!walletCheck.checked) {
            const walletDiscount = walletDiscountPreview.getAttribute('data-walletAmount');
            const couponDiscount = couponPreview.getAttribute('data-couponDiscount');
            const deliveryChargeVal = deliveryCharge.getAttribute('data-deliveryCharge');
            const url = '/checkout/uncheckwallet'
            const method = 'POST'
            const body = {
                walletDiscount: walletDiscount ? Number(walletDiscount) : 0,
                couponDiscount: couponDiscount ? Number(couponDiscount) : 0,
                deliveryCharge: Number(deliveryChargeVal)
            }
            const data = await fetchFunction(url, method, body);
            console.log(data);
            if (data.status === true) {
                couponPreview.innerHTML = `<span>- ₹ </span>${data.couponDiscount}`
                grandTotalPreview.innerHTML = `<span>₹ </span>${data.grandTotal}`
                walletDiscountPreview.innerHTML = `<span>₹ </span>${data.walletAmount}`
                walletDiscountPreview.setAttribute('data-walletAmount', data.walletAmount);
                walletCashInput.value = ''
            }
        }
    })

</script>