<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="addCouponModal" tabindex="-1" aria-labelledby="addCouponModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Coupon</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-column" id="couponForm">
          <div class="mb-2 parent">
            <label for="CouponName" class="form-label">Coupon Name</label>
            <input type="text" name="couponName" id="couponName" class="form-control">
            <div class="error mt-1 ms-2" style="color: red;  font-size: small;"></div>
          </div>
          <div class="mb-2 parent">
            <label for="CouponCode" class="form-label">Coupon Code</label>
            <input type="text" name="couponCode" id="couponCode" class="form-control">
            <div class="error mt-1 ms-2" style="color: red;  font-size: small;"></div>
          </div>
          <div class="mb-2 parent">
            <label for="ValidFrom" class="form-label">Valid From</label>
            <input type="date" name="validFrom" id="validFrom" class="form-control">
            <div class="error mt-1 ms-2" style="color: red;  font-size: small;"></div>
          </div>
          <div class="mb-2 parent">
            <label for="ValidTo" class="form-label">Valid To</label>
            <input type="date" name="validTo" id="validTo" class="form-control">
            <div class="error mt-1 ms-2" style="color: red;  font-size: small;"></div>
          </div>
          <div class="mb-2 parent">
            <label for="ValidFor" class="form-label">Valid For</label>
            <select name="validFor" id="validFor" style="text-transform: capitalize;" class="form-select">
              <option value="" checked>Choose Category</option>
              <%categories.forEach(function(category){%>
                <option value="<%=category._id%>" style="text-transform: capitalize;">
                  <%= category.categoryName%>
                </option>
                <%})%>
            </select>
            <div class="error mt-1 ms-2" style="color: red;  font-size: small;"></div>
            <!-- <input type="text" name="validFor" id="validFor" class="form-control"> -->
          </div>
          <div class="mb-2 parent">
            <label for="Discount" class="form-label">Discount</label>
            <input type="text" name="discount" id="discount" class="form-control">
            <div class="error mt-1 ms-2" style="color: red;  font-size: small;"></div>
          </div>
          <div class="mb-2 parent">
            <label for="Minimum Purchase Amount" class="form-label">Minimum Purchase Amount</label>
            <input type="text" name="minimumPurchaseAmt" id="minimumPurchaseAmt" class="form-control">
            <div class="error mt-1 ms-2" style="color: red;  font-size: small;"></div>
          </div>
          <div class="mb-2 parent">
            <label for="Maximum Discount" class="form-label">Maximum Discount</label>
            <input type="text" name="maximumDiscount" id="maximumDiscount" class="form-control">
            <div class="error mt-1 ms-2" style="color: red;  font-size: small;"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="createCouponBtn">Create Coupon</button>
      </div>
    </div>
  </div>
</div>
