    <!-- Sidebar Start -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div>
          <div class="brand-logo d-flex align-items-center justify-content-between">
            <a href="#" class="text-nowrap logo-img">
              <img src="/images/sampleImages/logo-01.png" width="110" alt="" />
            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
              <i class="ti ti-x fs-8"></i>
            </div>
          </div>
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
              
              <li class="sidebar-item">
                <a class="sidebar-link" href="/admin" aria-expanded="false">
                  <span>
                    
                    <i class="ti ti-layout-dashboard"></i>
                  </span>
                  <span class="hide-menu">Dashboard</span>
                </a>
              </li>

              <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/users" aria-expanded="false">
                  <span>
                    <i class="ti ti-users"></i>
                  </span>
                  <span class="hide-menu">Users</span>
                </a>
              </li>

              <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/products" aria-expanded="false">
                  <span>
                    <i class="ti ti-packages"></i>
                  </span>
                  <span class="hide-menu">Products</span>
                </a>
              </li>

              <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/orders" aria-expanded="false">
                  <span>
                    <i class="ti ti-truck-delivery"></i>
                  </span>
                  <span class="hide-menu">Orders</span>
                </a>
              </li>

              <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/category" aria-expanded="false">
                  <span>
                    <i class="fa-solid fa-list"></i>
                  </span>
                  <span class="hide-menu">Category</span>
                </a>
              </li>

              <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/coupons" aria-expanded="false">
                  <span>
                    <i class="ti ti-ticket"></i>
                  </span>
                  <span class="hide-menu">Coupon</span>
                </a>
              </li>

              <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/banners" aria-expanded="false">
                  <span>
                    <i class="fa-regular fa-flag"></i>
                  </span>
                  <span class="hide-menu">Banner</span>
                </a>
              </li>

              <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/offers" aria-expanded="false">
                  <span>
                    <i class="ti ti-discount-2"></i>
                  </span>
                  <span class="hide-menu">Offers</span>
                </a>
              </li>

              <li class="sidebar-item">
                <a class="sidebar-link" href="/adminlogout" aria-expanded="false">
                  <span>
                    <i class="ti ti-logout"></i>
                  </span>
                  <span class="hide-menu">Log out</span>
                </a>
              </li>

            </ul>
          </nav>
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </aside>
      <!--  Sidebar End -->