<!-- Button trigger modal -->
  
  <!-- Modal -->
  <div class="modal fade" id="addCouponModal" tabindex="-1" aria-labelledby="addCouponModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Coupon</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body parent">
            <form action="" class="d-flex flex-column">
                <div class="mb-2">
                    <label for="CouponName" class="form-label">Coupon Name</label>
                    <input type="text" name="" id="" class="form-control">
                </div>
                <div class="mb-2">
                    <label for="CouponCode" class="form-label">Coupon Code</label>
                    <input type="text" name="" id="" class="form-control">
                </div>
                <div class="mb-2">
                    <label for="ValidFrom" class="form-label">Valid From</label>
                    <input type="text" name="" id="" class="form-control">
                </div>
                <div class="mb-2">
                    <label for="ValidTo" class="form-label">Valid To</label>
                    <input type="text" name="" id="" class="form-control">
                </div>
                <div class="mb-2">
                    <label for="ValidFor" class="form-label">Valid For</label>
                    <input type="text" name="" id="" class="form-control">
                </div>
                <div class="mb-2">
                    <label for="Discount" class="form-label">Discount</label>
                    <input type="text" name="" id="" class="form-control">
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="createCouponBtn">Create Coupon</button>
        </div>
      </div>
    </div>
  </div>