<div class="cropper-card card mt-5 rounded border" hidden>

  <div class="d-flex align-items-center justify-content-between card-header">
    <h6 class="m-0">Crop Image</h6>
    <i class="fa-solid fa-xmark close-cropper" id="close-cropper"></i>
  </div>

  <div class="card-body">
    <div class="crop-body">
      <img src="" id="cropImage" class="cropImageTag" alt="">
    </div>
  </div>

  <div class=" d-flex justify-content-end card-footer">
    <button class="btn btn-primary" id="crop-btn">Crop</button>
  </div>

</div>