<%- include('../includes/shop/shopHead.ejs') %>
<%- include('../includes/shop/shopHeader.ejs') %>
<div class="vh-100 bg-info">

</div>
<%- include('../includes/shop/shopFooter.ejs') %>
<%- include('../includes/shop/shopEnd.ejs') %>