<%- include('../includes/shop/shopHead.ejs') %>
    <%- include('../includes/shop/shopHeader.ejs') %>

<div class="container">
    <div class="checkout-page bg-light">
        <h6 class="ms-5 mt-5 ">CheckOut</h6>
        <div class="check-out-wrapper rounded d-flex p-5">
            <div class="left-part col-6 vstack gap-3 me-2">
                <div class="card shadow">
                    <div class="card-body ">
                        <h5>Delivery Address</h5>
                        <div class="d-flex p-2 rounded border">
                            <input type="radio" class="align-self-start form-check-input">
                            <div class="d-flex flex-column ms-2">
                                <strong>Aswin Nair T M</strong>
                            <p class="m-0">Avittom, Konchira P O, Vembayam</p>
                            <p class="m-0">trivandrum</p>
                            <p class="m-0">Kerala</p>
                            <p class="m-0">695615</p>
                            <p class="m-0">8113011810</p>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end align-items-center mt-2">
                            <button class="btn btn-primary btn-sm">Add Address</button>
                        </div>
                    </div>
                </div>

                <div class="card shadow">
                    <div class="card-body ">
                        <h5>Payment Options</h5>
                        <div class="vstack gap-3">
                            <div class="d-flex border p-2 rounded">
                                <input type="radio" class="form-check-input">
                                <p class="my-0 ms-2">Cash On Delivery</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card shadow">
                    <div class="card-body py-4">
                        <h5>Add Coupon</h5>
                        <label for="" class="form-label">Coupon Code</label>
                        <input type="text" name="" id="" class="form-control">
                        <div class="mt-2">
                            <button class="btn btn-primary btn-sm">Add Coupon</button>
                            <button class="btn btn-outline-dark btn-sm">Remove Coupon</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="right-part col-6 vstack gap-3">
                <div class="card shadow">
                    <div class="card-body ">
                        <h5 style="text-transform: capitalize;">Order Summary</h5>
                        <div>
                            <div class="d-flex justify-content-between px-3 mt-3">
                                <p class="m-0">Subtotal </p>
                                <p class="m-0"><span>₹ </span>5000</p>
                            </div>
                            <div class="d-flex justify-content-between px-3 mt-2">
                                <p class="m-0">Coupon </p>
                                <p class="m-0"><span>₹ </span>0</p>
                            </div>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <strong>GRAND TOTAL :</strong>
                            <strong><span>₹ </span>2000</strong>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-primary">Place Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../includes/shop/shopFooter.ejs') %>
<%- include('../includes/shop/shopEnd.ejs') %>