<%- include('../includes/shop/shopHead.ejs') %>
    <%- include('../includes/shop/shopHeader.ejs') %>
        <div class="p-0 p-md-5">
            <div class="container-fluid mt-5 font-poppins">
                <div class="offers-container">
                    <div class="bg-info p-2 text-white rounded"><h5>OfferName</h5></div>
                    <div class="offer-products-container mt-3">
                        <div class="card" style="width: 15rem;">
                            <div class="card-image-top rounded-top offer-card-image"
                                style="background-image: url('/images/product-images/1710179061194-1_3c9d436a-48e3-4fc4-9f97-23dba70ec632.webp');">
                                <strong class="offer-ribbon px-2">15% OFF</strong>
                            </div>
                            <a href="">
                            <div class="card-body">
                                <h6 class="fw-bold productName text-secondary" style="text-overflow: ellipsis;">productname goes here</h6>
                                <div class="prices-div mt-3">
                                    <div class="d-flex">
                                        <small class="original price">Original Price:</small>
                                        <small class="ms-2"><s><span>₹</span>2999</s></small>
                                    </div>
                                    <div class="d-flex">
                                        <p>Offer Price:</p>
                                        <p class="ms-2"><span>₹</span>2000</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../includes/shop/shopFooter.ejs') %>
            <%- include('../includes/shop/shopEnd.ejs') %>